.login-btn {
  color: white;
  background: #000;
  padding: 12px 16px;
  margin: 12px 0px;
  border-radius: 16px;
  width: 320px;
  align-items: center;
  cursor: pointer;
}
.signup-now {
  align-items: center;
  justify-content: center;
}
.signup-now p {
  font-size: small;
  font-weight: 500;
  text-align: center;
}
.signup-now span {
  color: red;
  cursor: pointer;
}
.combo {
  align-items: center;
  justify-content: center;
}
.login {
  margin: 0px;
}
